{% extends "layout.html" %}
{% block content %}
      <h1>Welcome to Read it Later (RIL)</h1>
      <h2>This page was built by bootstrap.</h2>
      <hr>
      <p>This is where I store everything that I deem important.</p>
      <hr>
      <h1>TO DO</h1>
      <li><s>ADD TEXTEDITOR</s></li>
      <li>PLAY WITH REACTJS</li>
      <li>FLASK BLOG INTEGRATION?</li>
      <li><s>add PILLAR</s></li>
      <hr>
      <img src={{url_for('static', filename='flaskreact.png')}} style="width:300px;height:360px;"></img>
{% endblock content %}
